.InfoMessage
    color: #303030
    background-color: white
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    position: fixed
    top: 0
    width: 100%
    padding: 0.2rem
    z-index: 999

.InfoMessageWarning
    background-color: orange
    color: white

.InfoMessageSuccess
    background-color: #55BE6E
    color: white

.InfoMessageMessage
    flex: 100
.InfoMessageClose
    flex: 1
    margin-right: 1.5rem
    cursor: pointer