* {
  font-family: Source Sans Pro, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

.backgroundImage {
  position: absolute;
  z-index: -99;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.loginContainer {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr auto 1fr;
      grid-template-rows: 1fr auto 1fr;
      grid-template-areas: "headline" "login" ".";
}

.loginContainer .headline {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: headline;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loginContainer .headline h1 {
  font-family: Staatliches, Arial, Helvetica, sans-serif;
  font-size: 7.5rem;
}

.loginContainer .headline h2 {
  font-size: 0.9rem;
}

.loginContainer .loginButton {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: login;
  height: 5em;
  width: 20rem;
  background-color: white;
  border: none;
  border-radius: 1rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

.container {
  diplay: grid;
  -ms-grid-rows: 5rem auto;
      grid-template-rows: 5rem auto;
      grid-template-areas: "header" "content";
  height: 100%;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  height: 5rem;
  background-color: #191919;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
      grid-template-areas: "user tabs add";
}

header .user {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: user;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 5rem;
}

header .user .userIcon {
  height: 2rem;
  width: 2rem;
  fill: white;
}

header .user .userName {
  font-size: 1.5rem;
  color: white;
  padding-left: 1rem;
}

header .tabs {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: tabs;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .tabs .tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .tabs .tab .tabIcon {
  height: 1.25rem;
  widht: 1.25rem;
  fill: white;
}

header .tabs .tab .tabName {
  font-size: 1rem;
  padding-left: 0.5rem;
  color: white;
  cursor: pointer;
}

header .tabs .tab .tabName:hover {
  text-decoration: underline;
}

header .add {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: add;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .add .addButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2rem;
  width: 2rem;
  border-radius: 0.2rem;
  background-color: white;
  border: solid 2px white;
  cursor: pointer;
}

header .add .addButton .addIcon {
  height: 1.25rem;
  width: 1.25rem;
  fill: #191919;
}

header .add .addButton:hover {
  background-color: transparent;
}

header .add .addButton:hover .addIcon {
  fill: white;
}

.content {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: content;
  height: calc(100% - 5rem);
}
/*# sourceMappingURL=App.css.map */