/**
 * Creator: Simon R.
 */

::-webkit-scrollbar {
    width: 0.5em;
    height: 0.55em;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #afafaf;
    border-radius: 0.2em;
}

::-webkit-scrollbar-corner {
    display: none;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

/*body {*/
/*    background: #f1f8ff;*/
/*    font-family: 'Noto Sans', sans-serif;*/
/*}*/

/*header {*/
/*    text-align: center;*/
/*    font-size: 2.5em;*/
/*    padding: 1.2em 0 0.5em 0;*/
/*}*/

/*header h1 {*/
/*    font-size: 1em;*/
/*    font-weight: 200;*/
/*    color: #42445a;*/
/*}*/

/*header h1 .js {*/
/*    color: #35d6f9;*/
/*}*/

/*header a {*/
/*    display: inline-block;*/
/*    text-decoration: none;*/
/*    font-weight: 500;*/
/*    font-size: 0.3em;*/
/*    color: white;*/
/*    margin-top: 5vh;*/
/*    padding: 0.75em 1.25em;*/
/*    transition: 0.3s all;*/
/*    background: #4285f4;*/
/*    border-radius: 50em;*/
/*    box-shadow: 0 0.15em 0.5em rgba(66, 133, 244, 0.75);*/
/*    font-family: 'Montserrat', sans-serif;*/
/*}*/

/*header a:hover {*/
/*    background: #4291f6;*/
/*}*/

/*main {*/
/*    width: 100%;*/
/*    max-width: 50em;*/
/*    margin: 1.5em auto;*/
/*}*/

main .sec .head {
    display: block;
    margin-bottom: 0.4em;
    font-size: 1.2em;
    text-align: center;
}

/* details */

main section.demo .info {
    text-align: center;
    margin: 1em 0 2em 0;
    line-height: 2em;
    color: #42445a;
}

main section.demo .box-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid rgba(66, 68, 90, 0.075);
    border-radius: 0.15em;
    padding: 1em 0;
}

main section.demo .box-wrap.green,
main section.demo .box-wrap.blue {
    margin-bottom: 3em;
}

main section.demo .box-wrap.red {
    display: grid;
    grid-template-columns: repeat(28, 1fr);
    grid-gap: 0.4em;
    align-items: flex-start;
    justify-content: flex-start;
    max-height: 25em;
    overflow: auto;
    padding: 0.5em;
}

main section.demo .box-wrap.red > div {
    margin: 0;
}

main .box-wrap::after {
    display: block;
    content: '';
    clear: both;
}

main .boxes div {
    padding: 5px;
    margin: 0.2em;
    background: rgba(66, 68, 90, 0.075);
    border-radius: 0.15em;
    transition: all 0.3s;
    cursor: pointer;
}

.unselec {
    background-color: #b87270 !important;
}

main .boxes.green div.selected {
    background: #7febc2;
}

main .boxes.blue div.selected {
    background: #7fa0eb;
}

main .boxes.red div.selected {
    background: #eb8181;
}

.selection {
    background: rgba(0, 0, 255, 0.1);
    border-radius: 0.1em;
    border: 0.05em solid rgba(0, 0, 255, 0.2);
}

main section.demo .info p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.keyboard-key {
    display: inline-block;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #4285f4;
    font-size: 0.85em;
    line-height: 1em;
    letter-spacing: -0.05em;
    padding: 0.2em 0.4em 0.2em 0.4em;
    margin: 0 0.5em;
    border: 1px solid #4285f4;
    border-bottom: 2px solid #4285f4;
    border-radius: 2px;
}

.gist {
    margin-top: 5em;
}

.js-file-line-container,
.gist-file,
.gist-data,
.gist-meta {
    background: transparent !important;
    border: none !important;
}


@media only screen and (max-width: 1000px) {

    #fork-me {
        height: 6em;
        width: 6em;
    }

    header {
        padding: 1em 0 0 0;
    }

    header h1 {
        font-size: 0.8em;
    }

    main section.demo .info {
        font-size: 0.8em;
    }
}

.box-wrap {
    width: 60px;
}

.selected {
    background-color: #7febc2;
}