.AreYouSureDialog
  display: grid
  grid-template-areas: "prompt prompt" "yesButton noButton"
  .Prompt
    grid-area: prompt
    font-size: large
  .YesButton
    grid-area: yesButton
  .NoButton
    grid-area: noButton
