.Button {
    border: 2px solid #55BE6E;
    outline: none;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    font-family: Roboto Slab, Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    background: transparent;
    color: #55BE6E;
}

.Success {
    color: #55BE6E;
    background-color: transparent;
}

.Danger {
    color: white;
    background-color: #55BE6E;
}