.OverlayContainer
  display: flex
  justify-content: center
  align-items: center
  position: fixed
  z-index: 1
  left: 0
  top: 0
  width: 100%
  height: 100%
  overflow: auto

  .background
    position: fixed
    z-index: -1
    width: 100%
    height: 100%
    background-color: rgb(0,0,0.4)
    background-color: rgba(0,0,0,0.4)
    
  .content
    z-index: 2
    display: flex
    flex-direction: column
    background-color: #fefefe
    flex: 0.4
    padding: 20px
    border: 1px solid #888
    text-align: center
    align-items: center

