$thvnBlue: rgb(23, 130, 200)
$grey: rgb(25, 25, 25)
$lightGrey: rgb(235, 235, 235)

*
    font-family: Source Sans Pro, Arial, Helvetica, sans-serif
    margin: 0
    padding: 0

html, body
    height: 100%
    width: 100%

//----- login -----//
.backgroundImage
    position: absolute
    z-index: -99
    filter: blur(3px)
    object-fit: cover
    height: 100%
    width: 100%

.loginContainer
    height: 100%
    width: 100%
    background-color: rgba(0, 0, 0, 0.2)
    display: grid
    grid-template-rows: 1fr auto 1fr
    grid-template-areas: "headline" "login" "."
    .headline
        grid-area: headline
        color: white
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        h1
            font-family: Staatliches, Arial, Helvetica, sans-serif
            font-size: 7.5rem
        h2
            font-size: 0.9rem
    .loginButton
        grid-area: login
        //height: 5em
        width: 20rem
        background-color: white
        border: none
        border-radius: 1rem
        justify-self: center
        img
            height: 100%
            width: 100%

//----- mainpage -----//
.container
    diplay: grid
    grid-template-rows: 5rem auto
    grid-template-areas: "header" "content"
    height: 100%

header
    grid-area: header
    height: 5rem
    background-color: $grey
    display: grid
    grid-template-columns: auto 1fr auto
    grid-template-areas: "user tabs add"
    .user
        grid-area: user
        display: flex
        align-items: center
        justify-content: space-around
        padding-left: 5rem
        .userIcon
            height: 2rem
            width: 2rem
            fill: white
        .userName
            font-size: 1.5rem
            color: white
            padding-left: 1rem
    .tabs
        grid-area: tabs
        display: flex
        justify-content: space-evenly
        align-items: center
        .tab
            display: flex
            align-items: center
            .tabIcon
                height: 1.25rem
                widht: 1.25rem
                fill: white
            .tabName
                font-size: 1rem
                padding-left: 0.5rem
                color: white
                cursor: pointer
                &:hover
                    text-decoration: underline
    .add
        grid-area: add
        display: flex
        justify-content: center
        align-items: center
        .addButton
            display: flex
            justify-content: center
            align-items: center
            height: 2rem
            width: 2rem
            border-radius: 0.2rem
            background-color: white
            border: solid 2px white
            cursor: pointer
            .addIcon
                height: 1.25rem
                width: 1.25rem
                fill: $grey
            &:hover
                background-color: transparent
                .addIcon
                    fill: white
//----- events -----//
.myEvents
    padding: 5rem 0
    display: flex
    flex-direction: column
    justify-content: space-evenly
    align-items: center
    width: 100%
    height: 100%
    .event
        font-size: 1.2rem
        width: 80%
        display: grid
        grid-template-columns: 3fr 1fr 2fr 1.5fr 0.3rem
        grid-template-areas: "name time host room delete"
        grid-column-gap: 0.5rem
        padding: 1.5rem 2rem
        border-bottom: solid 2px $lightGrey
        .eventName
            grid-area: name
        .eventTime
            grid-area: time
        .eventHost
            grid-area: host
        .eventRoom
            grid-area: room
        .deleteEvent
            color: red
            cursor: pointer
            grid-area: delete
    .header
        background-color: $lightGrey
// mainpage content //
.content
    grid-area: content
    height: calc(100% - 5rem)


.calendarIframe
    border: 0
    width: 100%
    height: 100%